    *{
margin: 0px;
padding: 0px;

    }

    body
    {
        background-color: #FFFFFF;
        height: 500vh;
    }


   .grid-i
   {
    background-color:#CD5C5C;
    font-family: "Arial narrow";
    font-size: 20px;
    /* letter-spacing: 2px; */
    /* font-weight: bold; */
   }

   .grid-b1
   {
       justify-content: start;
   }
   .grid-s1
   {
       display: grid;
       grid-template-columns: minmax(100px,300px);
       grid-auto-rows: 300px 200px 200px;
        grid-gap: 5px;
        flex-wrap:wrap; 
    }

   .grid-i1
   {
       background-image:url('imag/Home-Hero-resized.jpg');
         background-repeat: on-repeat;
         background-size: cover;
         background-position: center;
        
         max-width: 100%;
       position: relative;
    grid-column: 1/3;
    grid-row:1/4;
   }

   .img-expo-d
   {
       background-color:rgba(0,0,0,0.3);
       height: 710px;
   }
  .ul-head
  {
      display:flex;
      align-items: center;
      justify-content:space-around;
      font-family: "Arial narrow";
      font-size: 2.4vh;
      letter-spacing: 1px;
      color: #FFFFFF;
      
      list-style:none;
  }

  

.lk1
{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px;
}

  .li1{
      float: left;
      /* padding:20px 20px 0px 20px; */
  }

  /* .li-home
  {
      padding-left: 30px;
  } */

  .li-img 
  {
      background-color: rgba(0,0,0,0);
      /* padding-left: 250px; */
      /* padding-right: 250px; */
  }

  .ul-head
  {
      padding-left: 30px;
      padding-right: 30px;
  }


  .signup1
  {
      margin: 15px 0px 0px 5px;
      padding: 7px 17px 7px 17px;
      Background-color: #7CFC00;
      font-family: "Arial narrow";
      font-size: 2vh;
      font-weight: thin;

  }
  .signup1:hover
  {
      padding: 7px 17px 7px 17px;
      Background-color: #000000;
      font-family: "Arial narrow";
      font-size: 2vh;
      font-weight: thin;

  }

.down-button
{
    position: absolute;
    top: 29px;
     /* margin-top:3px;
     margin-bottom: 3px; */
}


.para1
{
    
    z-index:2;
    position: absolute;
    font-family: "Arial narrow";
    color: #FFFFFF;
    padding: 220px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap:wrap;   
}



.learn-more
{
    position: absolute;
    text-decoration: none;
    padding: 17px 45px 17px 45px;
    background-color: #32CD32;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 2vh;
    /* margin: 0px 0px 20px 0px; */
    letter-spacing: 3px;
}

.learn-more:hover
{
    background-color: #FFFFFF;
    color: #32CD32;
    
}

.h2-1
{
    letter-spacing: 1px;
    word-spacing: 5px;
    font-family: "arial narrow";
    font-size: 7vh;
}

.p-inside
{
    font-size: 3vh;
    margin: 20px 0px 20px 0px;
}



   .grid-s2
   {
       position: relative;
       display: grid;
       grid-template-columns: repeat(4,300px);
       grid-auto-rows: 300px 300px 300px 300px;
        grid-row-gap: 20px;
        grid-column-gap: 30px;
        margin-top: 30px;
        justify-content: right;
     align-content: right; 
    }


    .grid-i2{
        font-family: "arial narrow";
     grid-column-start:1;
     grid-column-end:3;
     grid-row-start:1;
     grid-row-end: 3;
     max-width : 400px;

     justify-content: start;
     align-content: center; 
    }

/* .grid-flex
{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding:0px 20px 20px 30px;
    background-color: #FFFFFF;
    flex-wrap: wrap;

}
 */
    /* .super-bold
    {
        font-size: 4.5vh;
        color: #000000;
        padding: 5px;
    } */
    /* .defination
    {
        color: #696969;
        padding: 5px;
    } */

   /* .view-more-b{

    color: #FFFFFF;
    font-size: 1.7vh;
    padding: 9px 27px 9px 27px;
    background-color: rgba(56,213,82,1);
    border-radius: 3px;
  } */
  /* .view-more-b a
  {
    text-decoration: none;
  } */

/* 
  .grid-i3, .grid-i5
  {
     display: flex;
     flex-wrap: wrap;
      
    border-radius: 5px;
    border: 0.1vh solid #DCDCDC;
    background-color: #FFFFFF;
    margin-top: 20px; 
    flex-direction: column;
    align-item:  ;
    align-content: stretch;
    justify-content: flex-end;
}

  .grid-i3:hover ,.grid-i5:hover
  {
    
    border: 0.1vh solid rgba(56,213,82,1);
    background-color: rgba(56,213,82,1);
  }


  .grid-i4, .grid-i6
  {
    display: flex;
    flex-wrap:wrap;

    border-radius: 5px;
    border: 0.1vh solid #DCDCDC;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    color: #808080; 
}

  .grid-i4:hover ,.grid-i6:hover
  {
    
    border: 0.1vh solid rgba(56,213,82,1);
    background-color: rgba(56,213,82,1);
  }

.flex-d
{
    display: flex;
    flex-wrap:wrap; 
}
.heading-flex
{
  color: #000000;
  font-size: 2.2vh;
  font-family: "arial ";
  font-weight:bold;  
}
.p-flex
{
    color:#808080;
    font-size: 2.2vh;
    font-family: "arial narrow";
} */








.phone
{
    background-image:url('imag/phone.jpg');
    background-size: cover;
    background-position: center;
    max-width: 15rem;
}
.phone-data:hover .phone-data
{
    margin: 0px 0px 10px 0px;
}

.handshake
{
    background-image:url('imag/handshak.jpg');
    background-size: cover;
    background-position: center;
    max-width: 15rem;
}
.handshake-data:hover .handshake-data
{
    animation: 1s linear goesup;
}

@keyframe goesup
{
    0%{transform:translate(0px, 0px); transition: transform 1s linear;}
    100%{transform:translate(0px, -5px); transition: transform 1s linear;}
}



.flex-container
{
    fisplay: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.container-item
{
width: 200px;
border: 3px solod #333;
background-color: #dfdfdf;
} 
.container-item1
{

}
.container-item2
{
    
}
.container-item3
{
    flex-grow: 1;
}



.div-container
{
    background-color: lawngreen;
    border: 0.1rem solid lightcoral;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.mmethods-div, .methods-data, .signup-data, .investment-data, .wealth-data, .div-container1, .phone-data, .handshake-data, .m-w-f-y, .stark-corp, .boy-img
{
    background-color: grey;
    border: 0.1rem solid orchid;   
    display: flex;
    justify-items: left;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
}

.boy-img 
{
    background-image: url('imag/standing-man.png');
    background-size: cover;
    background-position: center;
    max-height: 50rem;
    max-width: 40rem;
}


.div-container1
{
    flex-direction: column;
    align-items: stretch;
    justify-content:space-around ;
}


.teacher
{
    max-width: 40rem;
}


.circle-img
{
    height:2rem;
width: 2rem;
padding: 0.4rem;
border-radius: 3rem;

}

.currency, .antena, .lock
{
    background-color:red;
    /* background-image: url('imag/currency.png'); */
    background-position: center;
    background-size: cover;
}
.antena
{
    /* background-image: url('imag/antena.png'); */
}

.lock
{
    /* background-image: url('imag/lock.png'); */
}



.hidden-changes, .quick-safe, .anaward{
    display: flex;
    justify-items: right;
    justify-content: space-around;
    align-items: center;
}